.basis{
   background: #FAFBFF;;
   width: 1134px;
   display: flex;
   flex-direction: column;
    & .hello{
        margin-left: 71px;
        margin-top: 41px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    & .main{
        background: #FFFFFF;
        box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
        border-radius: 30px;
        width: 968px;
        height: 812px;
        margin-left: 71px;
        margin-top: 51px;
        & .header{
                margin-left: 38px;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            & .members{
                
                & h1{

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 33px;
                    margin-bottom: 7px;
                }
                & h2{
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #16C098;
                }
            }
            & .input{
                display: flex;
                align-items: center;
                width: 216px ;
                height: 38px;
                background: #F9FBFF;
                border-radius: 10px;
                margin-right: 53px;

                & input{
                    margin-left: 13px;
                    background: #F9FBFF;
                    border-radius: 10px;
                    border: none;
                   
                    &:focus {
                        outline: none;
                    }
                }
                & .lupa{
                    display: flex;
                    align-items: center;
                    margin-left: 11px;
                }
                

            }
        }
        & .list{
            margin-left: 38px;
            margin-top: 40px;
            display: flex;
            & .customer__name{
                display: flex;
                flex-direction: column;
                gap: 48px;
                
                & .title{
                    border-bottom: 1px solid #EEEEEE;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #B5B7C0;
            }
            & .aitem{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                color: #292D32;
            }
            }
            & .company{
                display: flex;
                flex-direction: column;
                gap: 48px;
                margin-left: 54px;
                &__title{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #B5B7C0;
                    
                }
                &__aitem{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;                
                    color: #292D32;

                }
            }
            & .phone{
                display: flex;
                flex-direction: column;
                gap: 48px;
                margin-left: 67px;

                &__title{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #B5B7C0;
                }
                &__aitem{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;                
                    color: #292D32;
                }

            }
            & .email{
                display: flex;
                flex-direction: column;
                gap: 48px;
                margin-left: 49px;
                &__title{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #B5B7C0;
                }
                &__aitem{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;                
                    color: #292D32;
                }
            }
            & .country{
                display: flex;
                flex-direction: column;
                gap: 48px;
                margin-left: 38px;
                &__title{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #B5B7C0;
                }
                &__aitem{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;                
                    color: #292D32;
                }
            }
            & .status{
                display: flex;
                flex-direction: column;
              
                margin-left: 54px;
                &__title{
                    border-bottom: 1px solid #EEEEEE;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #B5B7C0;
                    margin-bottom: 42px;
                }
                &__btn{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn1{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn2{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn3{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn4{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn5{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn6{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
                &__btn7{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 12px;
                    gap: 10px;
                    width: 80px;
                    height: 29px;
                    background: rgba(22, 192, 152, 0.38);
                    border: 1px solid #00B087;
                    border-radius: 4px;
                    margin-bottom: 40px;
                }
            }

        }
        & .footer{
            display: flex;
            justify-content: space-between;
        & .info{
            margin-left: 38px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #B5B7C0;
        }
        & .pages{
            display: flex;
            gap: 12px;
            margin-right: 40px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            color: #404B52;
            & .arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 24px;
                gap: 12px;
                align-items: center;
                justify-content: center;
                background: #F5F5F5;
                border: 1px solid #EEEEEE;
                border-radius: 4px;
            }
            
            &__aitem{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 24px;
                gap: 12px;
                align-items: center;
                justify-content: center;
                background: #F5F5F5;
                border: 1px solid #EEEEEE;
                border-radius: 4px;
            }
        }
    }
    }
}
