.nav {
  width: 306px;

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    margin-top: 36px;
    margin-left: 16px;

    &__item__img {
      margin-right: 11.5px;
    }
    &__item__name {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
    }
    &__item__version {
      margin-top: 12px;
      display: flex;
      margin-left: 8px;
      align-items: end;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      color: #838383;
    }
  }
  &__manu {
    list-style-type: none;
    margin-left: -20px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;
      margin-top: 15px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9197b3;

      margin-right: 10px;
    }
    &__vector {
      max-width: 8px;
      max-height: 10px;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: #9197b3;
}

.nav__manu__item {
  background: #fff;
  width: 250px;
  height: 46px;
  padding: 0 14px 0 14px;
}

#color {
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.45s;
}
#color1 {
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.45s;
}
#color2 {
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.45s;
}
#color3 {
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.45s;
}
#color4 {
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.45s;
}
#color5 {
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.45s;
}
