.basis {
  background: #fafbff;

  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #3e3492;
  border-radius: 15px;
  & .hello {
    margin-left: 71px;
    margin-top: 41px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgb(0, 0, 0);
  }
  & .main {
    background: #857cda;
    border-radius: 30px;
    padding: 0 20px 0 20px;
    width: 968px;
    height: 812px;

    & .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      & .members {
        justify-content: center;
        display: flex;

        & h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
        }
        & h2 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #16c098;
        }
      }
      & .input {
        display: flex;
        column-gap: 13px;
        background: #ffffff;
        border-radius: 13px;

        & .input2 {
          width: 100%;
          background: #ffffff;
          border-radius: 10px;
          padding: 10px 10px 10px 10px;
          border: none;
          &:focus {
            outline: none;
          }
        }
        & .lupa {
          border-radius: 50%;
          border: none;
        }
      }
    }
    & .list__item {
      display: flex;
      padding: 0 25px 0 25px;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #b5b7c0;
    }
  }
}
