body {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  background: rgb(51, 46, 109);
  color: white;
}
p {
  margin: 0;
  padding: 0;
}

.div {
  margin: 0;
  padding: 0;
}

.ul {
  margin: 0;
  padding: 0;
}
.li {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
